.login-body{
    height: 800px;
    display: flex;
    flex-direction: column;
    background-color: rgb(242, 253, 253);
  
}

.login-main-div{
    /* border: 1px solid red; */
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    align-items: center;
    margin-top:100px;
    
}
.guide-div{
    height: 500px;
    width: 500px;
    /* background-color:yellow; */
    display: flex;

    align-items: center;
    flex-direction: column;
}
.guide-div-para1{
    margin-top: 60px;
    font-size: 24px;
    font-weight: bolder;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.guide-div-para2{
    width: 450px;
    text-align: center;
    font-size: 13.5px;
    margin-top: 10px;
}

.guide-div-btn{
    background-color: rgb(215, 177, 4)!important;
    color: white !important;
}
.form-div1{
    height: 500px;
    width: 500px;
    border-right: 1px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.form-div1-updated{
  
    height: 500px;
    width: 500px;
    border-right: 1px solid rgb(227, 223, 223);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-div2{
   
    height: 500px;
    width: 500px;
    border-right: 1px solid rgb(227, 223, 223);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.form-div2-updated{
   
    height: 500px;
    width: 500px;
    border-right: 1px solid rgb(227, 223, 223);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.input1{
    height: 30px;
    width: 380px !important;
    margin-bottom: 25px;
    border:0.2px solid rgb(204, 196, 196);
   padding: 20px;
    
}
.login-password{
    height: 45px;
    width: 395px;
    border:0.2px solid rgb(204, 196, 196);
    margin-bottom: 20px;
}
.login-password:focus{
  outline:1px solid #004d99

}
.input2{
    height: 30px;
    width: 380px !important;
    margin-bottom: 25px;
    border:0.2px solid rgb(204, 196, 196);
    padding: 20px;
}
.input2:focus{
    outline: 1px solid #004d99;
}
.input1:focus{
    outline: 1px solid #004d99;
}
.input3{
    height: 45px;
    width: 400px;
    font-weight: 600;
    background-color: #2173c6;
    color: white;
    border: none;
    border-radius: 20px;
}
.input3:hover{
    background-color: #0d4882;
}
.lable1,.lable2,.lable3{
       font-size: 14px;
}
.form-heading{
    font-size: 22px;
    font-weight:bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.form-bottom-heading{
    margin-left: 80px;
    font-size: 14px;
}
.handle-register-btn{
    border: 1px solid rgb(195, 250, 43) !important;
    color:white !important;
    background-color:rgb(215, 177, 4) !important; ;
    font-size: 10px !important;
    font-weight: 9ś00 !important;
   margin-left:170px!important;
}

.header2{
    background-color: black;
    height: 360px;
    margin-top: 50px;
    
}
.login-header-para1{
    font-size: 60px;
    font-weight:700;
    margin-top: 50px
    ;
  
    /* margin-bottom: 80px; */
}
.login-span1{
    font-size: 13px;
    font-weight: 700;
 margin-top: 5px;

 margin-bottom: 30px;
  
}
.login-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 480px;
   height: 140px;
  
    color: white;
  position: relative;
  bottom: 300px;
  left: 35%;
}


/* *{
    border: 1px solid red;
} */


@media screen and (max-width: 768px) {
    .login-nav {
        width: 90%; 
        max-width: 360px; 
        margin-top: 30px;
        position: relative;
        bottom: 300px;
        left: 5%; 
    }
    
    .login-header-para1 {
        font-size: 30px;
        font-weight: 700;
        margin-top: 40px;
        margin-bottom: 30px;
    }
    
    .header2 {
        height: 330px;
        margin-top: 30px;
    }
    
    .input1 {
        height: 35px;
        width: 90%; 
        max-width: 300px; 
        margin-bottom: 25px;
        border: 0.2px solid rgb(204, 196, 196);
        padding: 20px;
    }
    
    .input2 {
        height: 35px;
        width: 90%; 
        max-width: 300px; 
        margin-bottom: 25px;
        border: 0.2px solid rgb(204, 196, 196);
        padding: 20px;
    }
    
    .input3 {
        height: 35px;
        width: 90%; 
        max-width: 300px; 
        background-color: rgba(227, 28, 28, 0.905);
        color: white;
        border: none;
    }
    
    .form-bottom-heading {
        margin-left: 5px;
        font-size: 12px;
        text-align: center;
    }
    
    .handle-register-btn {
       margin-left: 30% !important;
    }
    
    .guide-div-para2 {
        width: 90%;
        max-width: 300px; 
        font-size: 13.5px;
        margin-top: 10px;
    }
    
    .form-div1-updated,
    .form-div2,
    .form-div2-updated {
        border-right: none;
        border-bottom: 1px solid rgb(227, 223, 223);
    }
}
