.input-name-profile,.input-email-profile,.input-last-name{
     height: 30px;
    width: 98% !important ;
    margin-bottom: 20px;
}
.input-last-name{
    margin-top: 5px !important;
    
}
.input4{
    height: 50px;
    margin-bottom: 10px;
 
    width: 100% ;
}
.input4:focus{
    outline: none;
}
.input-name-profile:focus{
    outline: none;
}
.input-email-profile:focus{
    outline: none;
}
.last-name-lable{
    margin-bottom:none !important
}

.profile-div{
    height:100px;
    width: 70%;
    /* border: 1px solid red; */
   display: flex;
   justify-content: center;
   align-items: center;
   justify-content: space-around;
}
.profile-order-btn{
    height: 30px;
    text-align: center;
    border: 2px solid rgb(154, 154, 150);
    border-radius: 20px;
}
.profile-shopmore-btn{
    height: 30px;
    text-align: center;
    border: 2px solid rgb(154, 154, 150);
    border-radius: 20px;
}
.profile-order-btn:hover{
    color: rgb(11, 142, 228);
}
.profile-shopmore-btn:hover{
    color: rgb(11, 142, 228);
}