.profile-div1{
    height: 520px;
    width: 350px;
    border: 1px solid rgb(228, 224, 224);
    border-radius: 20px;
}
.profile-div2{
  
  
    height: 250px;
    width: 350px;
    border: 1px solid rgb(228, 224, 224);
    border-radius: 20px;
}
.profile-div-head{
    height: 70px;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
  gap: 30px;
 
}
.profile-heading{
    font-size: 20px;
    font-weight: 700;
    font-variant: small-caps;
    color: rgba(2, 2, 46, 0.805);
    
}
.profile-email{
   font-size: 14px;
}
.profile-div2-para1{
    font-size: 15px;
    padding-left: 20px;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-bottom: 0px;
 
    font-weight: 600;
}
.profile-div2-para2{
    margin-top: 0%;
    padding-top: 0%;
    font-size: 28px;
    padding-left: 20px;
    font-weight: 700;
    font-variant: small-caps;
   
    color: rgba(2, 2, 46, 0.805);
}