

.billing-form {
  width: 500px;
  height: fit-content;
  padding: 3%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Styling for the main checkout page */
.chekout-main-div {
  margin-top: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.chekout-order-div {
  width: 80%;
}

/* Styling for the order summary section */
.order-summary {
  width: 100%;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-summary h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.order-summary table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.order-summary table th,
.order-summary table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.order-summary table th {
  background-color: #00b392;
}

.order-summary .total-row {
  font-weight: bold;
}

.order-summary .payment-info h3 {
  font-size: 20px;
  color: #333;
  margin-top: 20px;
}

.order-summary .payment-info p {
  font-size: 16px;
  color: #666;
}

.order-summary .payment-info form {
  margin-top: 20px;
}


.select-option select {
  text-align: center;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #ebfbf8; 
  color: #333;
  font-size: 16px;
}


.upi-btn {
  height: 30px;
  background: transparent;
  padding: 3px 13px;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #007bff;
  border-radius: 10px;
  outline: none;
  overflow: hidden;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
  
}

.cod-btn {
  height: 30px;
  background: transparent;
  padding: 3px 13px;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #FF0072;
  border-radius: 10px;
  outline: none;
  overflow: hidden;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;

}

.upi-btn:hover{
  background-color: #007bff; 
  color: #fff; 
}
.cod-btn:hover{
  background-color: #FF0072; 
  color: #fff; 
}
.Cod1{
  height: 300px;
  width: 400px;
}
.Upi2{
  height: 300px;
  width: 400px;
}
.add-btn{
  height: 30px;
  background: transparent;
  padding: 3px 13px;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #edd81a;
  border-radius: 10px;
  outline: none;
  overflow: hidden;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}
.add-btn:hover{
  background-color: #edd81a; 
  color: #fff;
}