/* BillingForm.css */

.billing-form {
   width:500px;
   height: fit-content;
   /* border: 1px solid blue !important; */
  
    padding: 3%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
/*   
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  } */
  .chekout-main-div{
    margin-top: 120px;
    height:auto;
    width: 98%;
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
  align-items: center;
 
/* border: 1px solid yellow; */
  }
  .chekout-order-div{
    height:fit-content;
    width: 80%
    /* border: 1px solid red; */
  }


/*................*/
.chekout-product-title{
  color: rgb(139, 139, 147);
}
.chekout-product-title:hover{
  color: rgb(242, 93, 93);
}
.chekout-headings{
  background-color: #09012c;
}

  /*********/


.order-summary {
   width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.order-table2{
  width: 80%;
  border-collapse: collapse;
 
}

.order-table th, .order-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.order-table2 th, .order-table2 td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
.order-table th {
    background-color: #00b392;
 
    
}

.total-row {
    font-weight: bold;
}

.payment-info h3 {
    font-size: 20px;
    color: #333;
    margin-top: 20px;
}

.payment-info p {
    font-size: 16px;
    color: #666;
}

.payment-info form {
    margin-top: 20px;
}

label {
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
}

.upi-input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.upi-submit-btn{
    background-color: rgb(220, 5, 5);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px;
}

.upi-submit-btn:hover {
    background-color: rgb(245, 10, 10);
}
.order-title{
  color: #09012c;
  
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.order-subtotal{
  color: rgb(220, 5, 5);
}
.order-complete-total{
  color: rgb(220, 5, 5);
}

.billing-submit-btn{
  background-color: rgb(220, 5, 5);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.billing-submit-btn:hover{
  background-color: rgb(245, 10, 10);
}
.Upi1{
 display: none;
}
.Upi2{
  height: 350px;
  width: 500px;
  border:  2px solid rgb(200, 200, 194);
  padding: 20px;
}
  
.Cod1{
  height: 350px;
  width: 500px;
  border:  2px solid rgb(200, 200, 194);
  padding: 20px;
}
.Cod2{
  display: none;
}
.chekout-item-image:hover{
  opacity: 0.8;
}
.upi-btn{
  background: transparent;
  position: relative;
  padding: 3px 13px;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(40, 144, 241);
  border-radius: 10px;
  outline: none;
  overflow: hidden;
  color: rgb(40, 144, 241);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}
.upi-btn span{
  margin: 10px;
}
.upi-btn::before{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

.upi-btn:hover{
  color: #fff;
  border: 1px solid rgb(40, 144, 241);
  background-color: rgb(40, 144, 241);;
}
.upi-btn:hover::before {
  box-shadow: inset 0 0 0 10em rgb(40, 144, 241);
}


/*    cod  btn   */
.cod-btn{
  background: transparent;
  position: relative;
  padding: 3px 13px;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #FF0072;
  border-radius: 10px;
  outline: none;
  overflow: hidden;
  color: #FF0072;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}
.cod-btn span{
  margin: 10px;
}
.cod-btn::before{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

.cod-btn:hover{
  color: #fff;
  border: 1px solid #FF0072;
  background-color: #FF0072;
}
.cod-btn:hover::before {
  box-shadow: inset 0 0 0 10em #FF0072;
}