.nav2-main-div{
    width: 100%;
    height: 40px;
    background-color: rgba(40, 21, 118, 0.507);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    color: rgb(243, 245, 241);
    font-weight: 700;
}
.nav2-main-div div:hover{
    color: aqua;
    cursor: pointer;
}
@media screen  and (max-width:750px){
    .nav2-main-div{
      display: none;
    }
 }
