
.shop-sub-category{
    position: relative;
    text-decoration: none;
    color: #333;
}

.shop-sub-category::before,
.shop-sub-category::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #b9b4b4;
    transition: width 0.3s;
}

.shop-sub-category::before {
    top: 100%;
    left: 0;
}

.shop-sub-category::after {
    top: 100%;
    right: 0;
}

.shop-sub-category:hover::before {
    width: 50%
}

.shop-sub-category:hover::after {
    width:50%
}
.shop-sub-category:hover{
    color: rgb(240, 73, 27);
}