.section-card-main-div{

    width: 95%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
   margin: 0 auto;

}
.section-card1,.section-card2,.section-card3,.section-card4,.section-card5{
     display: flex;
     justify-content: center;
     align-items: center;
    height: 270px;
    width: 220px;
    background-color: rgb(251, 232, 243);
}
/* .section-card1-img1{
    border: 1px solid blue;
} */
.section-card1-para1,.section-card2-para2,.section-card3-para3,.section-card4-para4,.section-card5-para5{
    color: rgb(1, 1, 90);
    margin-top:3px ;
}
.section-main-div{
    width: 100%;

    /* border:  1px solid red; */

    /* border: 1px solid yellow !important; */
}
.section-inner-div{
    height: 90%;
    width: 90%;
    background:linear-gradient(white,#d699ff);

    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.section-inner-div h4{
    color:#02468a;
   font-size: 16px;
   /* border: 1px solid red; */
   text-align: center;
}
.section-inner-div img{
    height: 70%;
    width: 70%;
    border: 1px solid white;
    border-radius: 10px;
  
}