.section-card-main-div{
   /* border: 1px solid red; */
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 0px;

}
.section-card1,.section-card2,.section-card3,.section-card4,.section-card5{
 
    height: 400px;
    width: 280px;
    /* background-color: red; */
}
/* .section-card1-img1{
    border: 1px solid blue;
} */
.section-card1-para1,.section-card2-para2,.section-card3-para3,.section-card4-para4,.section-card5-para5{
    color: rgb(1, 1, 90);
    margin-top:3px ;
}
.section-main-div{
    width: 100%;
   padding: 2.5%;
    /* border:  1px solid red; */

   margin-bottom: 40px;
}